@import '../node_modules/@gouvfr/dsfr/dist/dsfr.min.css';

.container {
  justify-content: center;
  display: flex;
}

a {
  /* Le "!important" me permet de surcharger l'attribut css du fichier CSS DSFR qui change le curseur en "not-allowed" des balises a sans href */

  cursor: pointer !important;
}